doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Magellan's Voyage
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

	body
		block content


	footer
		block footer	